body {
  margin: 0;
  background-color: #333;
}
.audio {
  display: none;
}
.main {
    text-align: center;
    margin-top: 20%;
}
h1 {
  margin: 0;
  padding: 0;
}
#drop {
  text-transform: uppercase;
  text-decoration: none;
  color: red;
  cursor: pointer;
  border: 1px solid red;
  padding: 1em;
  max-width: 20%;
  margin: 0 auto;
  font-size: 300%;
}
#drop:hover {
  background-color: red;
  border-color: red;
  color: white;
}
