body {
  margin: 0;

}
#main {
  display: flex;
  justify-content: center;
  background-image: url("merge.png"); /* setter bakgrunnsbilde på hele diven */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  margin: auto;
  justify-content: center;
}
#header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.img {
  width: 33%; /* bredde på 33% fordi px er ikke skalerbart */
}
